Checks: >
  -*,
  bugprone-*,
  -bugprone-branch-clone,
  -bugprone-easily-swappable-parameters,
  -bugprone-narrowing-conversions,
  misc-definitions-in-headers,
  misc-misplaced-const,
  misc-redundant-expression,
  misc-static-assert,
  misc-unconventional-assign-operator,
  misc-uniqueptr-reset-release,
  misc-unused-*,
  modernize-*,
  -modernize-avoid-c-arrays,
  -modernize-return-braced-init-list,
  -modernize-use-trailing-return-type,
  performance-*,
  -performance-unnecessary-value-param,
  readability-*,
  -readability-implicit-bool-conversion,
  -readability-function-cognitive-complexity,
  -readability-identifier-length,
  -readability-magic-numbers,
  -readability-suspicious-call-argument,
FormatStyle: file
